.header {
  border-bottom: solid 1px black;
  font-size: 14px;
}

.headerBox {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.headerContent {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
}